
    @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    margin: 0px;
    padding: 0px;
    --largura: 300px;
    /*
    --cordefundo: rgb(223, 217, 217);
    */
    --cordefundo: rgb(255, 208, 208);
    --corup: #ffc800;
    --fontname: 'Island Moments','Courgette', cursive;
    --cor1:#F2A30F;
    --cor2:#F2790F;
    --cor3:#D9A273;
    --cor4:#BF2011;
    --cor5:#F2F2F2;
}
body{
    position: relative;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor5);
    margin: 0em;
    
}
header{
    position: relative;
    width: 100vw;
    height: 110px;
    background-color: var(--cor1);
}
header > div#logo{
    background-color:white;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    display: inline-block;
}
header > div#nomefornecedor{
    
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    
    display: inline-block;
    font-size: 1.5vw;
    text-align: center;
    color: black;
    font-family: var(--fontname);
    
}


header > div.menu{
    padding: 4xp;
    position: absolute;
    top: 78%;
    left: 95.8%;
    display: inline-block;
    height: 20px;
    width: 20px;
}

section.hbox{
    position: relative;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    width: var(--largura);
    padding: 5px;
    margin-bottom: 1px;
    margin-top: 5px;
    box-shadow: rgba(68, 68, 68, 0.534) 3px 3px 2px;

}

#btclear{
    margin-left: calc(150px - 48.906px);
}
div#lista {
    
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: var(--largura);
    padding: 5px;
    box-shadow: rgba(68, 68, 68, 0.534) 3px 3px 2px;
}
footer{
    position: static;
    background: var(--cor3);
    background-size: 100%;
    padding: 1px 0px 0px 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 4vh;
    bottom:-1px;
    width: 100%;
    margin-top: 5px;
     
}
p {
    margin: 0%;

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(53, 53, 53);
}
.btb{
    margin-top: 5px;
    width: 30px;
    height: 30px;
    align-items: center;
}
#lbox{
    width: var(--largura)-5px;
    
}
div#lista{
    height: auto;
    /*height: 680px;*/
}
div#lbox2{
    background-color:var(--cor5);
    
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: var(--largura);
    padding: 5px;
}
